/* Colours */
$clr-fffBlue: 193 58% 51%;
$clr-orangeOverlay: 180 6% 16%;
$clr-textLight: 187 22% 93%;
$clr-veryLightBlue: 193 66% 83%;
$clr-white: 0 0% 100%;

/* Font sizes */
$fs-900: 5em;
$fs-800: 3em;
$fs-700: 2em;
$fs-600: 1.5em;
$fs-500: 1.25em;
$fs-400: 1em;
$fs-300: 0.9375em;
$fs-200: 0.875em;
$fs-100: 0.5em;
