{% extends "layout.html" %}
<!-- Title -->
{% block title %}Contact{% endblock %} {% block bodyclass %}
<body class="contact">
  {% endblock %}
  <!-- Navbar -->
  {% block nav %}
  <nav>
    <ul
      id="primary-navigation"
      data-visible="false"
      class="primary-navigation underline-indicators flex"
    >
      <li>
        <a class="ff-sans-cond uppercase text-white letter-spacing-2" href="/"
          ><span aria-hidden="true">00</span>Home</a
        >
      </li>
      <li>
        <a
          class="ff-sans-cond uppercase text-white letter-spacing-2"
          href="/bikes"
          ><span aria-hidden="true">01</span>Bikes</a
        >
      </li>
      <li>
        <a
          class="ff-sans-cond uppercase text-white letter-spacing-2"
          href="/about"
          ><span aria-hidden="true">02</span>About</a
        >
      </li>
      <li class="active">
        <a
          class="ff-sans-cond uppercase text-white letter-spacing-2"
          href="/contact"
          ><span aria-hidden="true">03</span>Contact</a
        >
      </li>
    </ul>
  </nav>
  {% endblock %}
  <!-- Body -->
  {% block content %}
  <!-- Container -->
  <main id="main" class="grid-container grid-container--content flow">
    <h3>Subscribe to our newsletter</h3>
    <form>
      <input id="email" placeholder="Enter email address here" type="email" />
      <button type="submit" class="button_1">Subscribe</button>
    </form>

    <h3>Contact us</h3>
    <form class="quote">
      <div>
        <label>Name</label><br />
        <input type="text" placeholder="Name" />
      </div>
      <div>
        <label>Email</label><br />
        <input type="text" placeholder="Email" />
      </div>
      <div>
        <label>Message</label><br />
        <textarea placeholder="Make an enquiry or just say 'Hi'"></textarea>
      </div>
      <button class="button_1" type="submit">Send</button>
    </form>
  </main>
</body>
{% endblock %}
