{% extends "layout.html" %}
<!-- Title -->
{% block title %}Dealer Principal{% endblock %} {% block bodyclass %}
<body class="about">
  {% endblock %}
  <!-- Navbar -->
  {% block nav %}
  <nav>
    <ul
      id="primary-navigation"
      data-visible="false"
      class="primary-navigation underline-indicators flex"
    >
      <li>
        <a class="ff-sans-cond uppercase text-white letter-spacing-2" href="/"
          ><span aria-hidden="true">00</span>Home</a
        >
      </li>
      <li>
        <a
          class="ff-sans-cond uppercase text-white letter-spacing-2"
          href="/bikes"
          ><span aria-hidden="true">01</span>Bikes</a
        >
      </li>
      <li class="active">
        <a
          class="ff-sans-cond uppercase text-white letter-spacing-2"
          href="/about"
          ><span aria-hidden="true">02</span>About</a
        >
      </li>
      <li>
        <a
          class="ff-sans-cond uppercase text-white letter-spacing-2"
          href="/contact"
          ><span aria-hidden="true">03</span>Contact</a
        >
      </li>
    </ul>
  </nav>
  {% endblock %}
  <!-- Body -->
  {% block content %}
  <!-- Container -->
  <main id="main" class="grid-container grid-container--about">
    <!-- Text -->
    <h1 class="numbered-title backdrop-blur">
      <span aria-hidden="true">02</span> About us
    </h1>

    <div class="dot-indicators flex">
      <button aria-selected="true">
        <span class="sr-only">Dealer principal</span>
      </button>
      <button aria-selected="false">
        <span class="sr-only">Sales manager</span>
      </button>
      <button aria-selected="false">
        <span class="sr-only">Workshop manager</span>
      </button>
      <button aria-selected="false">
        <span class="sr-only">Accessories manager</span>
      </button>
    </div>

    <article class="about-details backdrop-blur">
      <h2 class="fs-600 ff-serif uppercase">Principal</h2>
      <p class="fs-700 uppercase ff-serif">Douglas Hurley</p>
      <p>
        Douglas Gerald Hurley is an American engineer, former Marine Corps pilot
        and former NASA astronaut. He launched the MOTORCYCLE franchise a decade
        ago and turned it into the premium go-to dealership group for the
        cognoscenti.
      </p>
    </article>

    <img src="./static/images/image-douglas-hurley.png" alt="Douglas Hurley" />
  </main>
</body>
{% endblock %}
