{% extends "layout.html" %}
<!-- Title -->
{% block title %}Finance manager{% endblock %} {% block bodyclass %}
<body class="about">
  {% endblock %}
  <!-- Navbar -->
  {% block nav %}
  <nav>
    <ul
      id="primary-navigation"
      data-visible="false"
      class="primary-navigation underline-indicators flex"
    >
      <li>
        <a class="ff-sans-cond uppercase text-white letter-spacing-2" href="/"
          ><span aria-hidden="true">00</span>Home</a
        >
      </li>
      <li>
        <a
          class="ff-sans-cond uppercase text-white letter-spacing-2"
          href="/bikes"
          ><span aria-hidden="true">01</span>Bikes</a
        >
      </li>
      <li class="active">
        <a
          class="ff-sans-cond uppercase text-white letter-spacing-2"
          href="/about"
          ><span aria-hidden="true">02</span>About</a
        >
      </li>
      <li>
        <a
          class="ff-sans-cond uppercase text-white letter-spacing-2"
          href="/contact"
          ><span aria-hidden="true">03</span>Contact</a
        >
      </li>
    </ul>
  </nav>
  {% endblock %}
  <!-- Body -->
  {% block content %}
  <!-- Container -->
  <main id="main" class="grid-container grid-container--about flow">
    <!-- Text -->
    <h1 class="numbered-title backdrop-blur">
      <span aria-hidden="true">02</span> About us
    </h1>

    <div class="dot-indicators flex">
      <a href="/dealer"
        ><button aria-selected="true">
          <span class="sr-only">Dealer principal</span>
        </button></a
      >
      <a href="/sales"
        ><button aria-selected="false">
          <span class="sr-only">Sales manager</span>
        </button></a
      >
      <a href="/finance"
        ><button aria-selected="false">
          <span class="sr-only">Finance manager</span>
        </button></a
      >
      <a href="/workshop"
        ><button aria-selected="false">
          <span class="sr-only">Workshop manager</span>
        </button></a
      >
    </div>

    <article class="about-details backdrop-blur flow">
      <header class="flow flow--space-small">
        <h2 class="fs-600 ff-serif uppercase">Sales manager</h2>
        <p class="fs-700 uppercase ff-serif">Victor Glovers</p>
      </header>
      <p>
        Victor Glovers has a Master's degree in accounting from Harvard and
        brings the highest credentials to the financial aspect of MOTORCYCLE. He
        takes the task of securing the best financial packages for your clients
        very seriously.
      </p>
    </article>

    <img src="./static/images/image-victor-glover.png" alt="Victor Glovers" />
  </main>
</body>
{% endblock %}
