{% extends "layout.html" %}
    {% block title %}
    Home
    {% endblock %}
    {% block body %}
    <header>
        <section id="header">
            <div class="header-container">
                <!--Logo -->
                <div id="header-box_1">
                    <p>
                        <a href="/"><img src="../static/img/promotor_medium.jpg" alt="Promotor">
                    </p>
                </div>
                <!-- Company name -->
                <div id="header-box_2">
                    <div id="branding">
                        <h1>
                            <span class="highlight_1">promotor</span><span class="highlight_3"> motorcycle haven</span>
                        </h1>
                    </div>
                </div>
                <!-- Navbar -->
                <div id="header-box_3">
                    <nav>
                        <ul>
                            <li class="current"><a href="/">Home</a></li>
                            <li><a href="/about">About</a></li>
                            <li><a href="/services">Services</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </section>
    </header>
    <section id="showcase">
        <div class="container">
            <h1>Unique Motorcycles Available Now</h1>
            <p>Lorem tellus aliquam, hac volutpat curabitur consequat cubilia. Nullam porttitor aenean, odio quisque.
            </p>
        </div>
    </section>

    <section id="newsletter">
        <div class="container">
            <h2>Subscribe To Our Newsletter</h2>
            <form>
            <input id="email" placeholder="Enter email address here" type="email" />
            <button type="submit" class="button_1">Subscribe</button>
            </form>
        </div>
    </section>

    <section id="boxes">
        <div class="box-container">
            <div class="box">
            <a href="/mv"
                ><img src="../static/img/MV_Agusta_logo.png" alt="MV Agusta"
            /></a>
            <h3>Brutale 800RR</h3>
            <p>
                Habitant molestie, nec nam ornare. Sagittis hendrerit conubia, enim sociosqu curabitur ornare.
            </p>
            </div>
            <div class="box">
            <a href="/triumph"
                ><img src="../static/img/triumph-logo.png" alt="Triumph"
            /></a>
            <h3>Street Triple RS</h3>
            <p>
                Habitant molestie, nec nam ornare. Sagittis hendrerit conubia, enim sociosqu curabitur ornare.
            </p>
            </div>
            <div class="box">
            <a href="/ktm"><img src="../static/img/ktm-logo.jpg" alt="KTM" /></a>
            <h3>790 Duke</h3>
            <p>
                Habitant molestie, nec nam ornare. Sagittis hendrerit conubia, enim sociosqu curabitur ornare.
            </p>
            </div>
        </div>
    </section>
    <div class="footer">
        <footer>
            <p>
                <span id="bold"><span class="highlight_2">promotor</span><span class="highlight_3"> motorcycle haven</span></span> &copy; 2023
            </p>
        </footer>
    </div>
    <!-- JavaScript -->
    <script src="../js/index.js"></script>
    {% endblock %}
