{% extends "layout.html" %}
<!-- Title -->
{% block title %}Home{% endblock %} {% block bodyclass %}
<body class="home">
  {% endblock %}
  <!-- Navbar -->
  {% block nav %}
  <nav>
    <ul
      id="primary-navigation"
      data-visible="false"
      class="primary-navigation underline-indicators flex"
    >
      <li class="active">
        <a class="ff-sans-cond uppercase text-white letter-spacing-2" href="/"
          ><span aria-hidden="true">00</span>Home</a
        >
      </li>
      <li>
        <a
          class="ff-sans-cond uppercase text-white letter-spacing-2"
          href="/bikes"
          ><span aria-hidden="true">01</span>Bikes</a
        >
      </li>
      <li>
        <a
          class="ff-sans-cond uppercase text-white letter-spacing-2"
          href="/about"
          ><span aria-hidden="true">02</span>About</a
        >
      </li>
      <li>
        <a
          class="ff-sans-cond uppercase text-white letter-spacing-2"
          href="/contact"
          ><span aria-hidden="true">03</span>Contact</a
        >
      </li>
    </ul>
  </nav>
  {% endblock %}
  <!-- Body -->
  {% block content %}
  <!-- Container -->
  <main id="main" class="grid-container grid-container--home">
    <!-- Text -->
    <div style="backdrop-filter: blur(0.3rem)">
      <h1 class="text-accent fs-500 ff-sans-cond uppercase letter-spacing-1">
        It's time for a
        <span class="fs-900 ff-serif text-white d-block">bike</span>
      </h1>
      <p>
        At MOTORCYCLE, we have the finest dream machines available for the
        discerning enthusiast. Tired of the same old boring run-of-the-mill?
        Looking for something special? You've come to the right place. Explore
        the site to view the stock we have, or contact us to source the object
        of your desire.
      </p>
    </div>
    <!--Button -->
    <div>
      <a class="large-button uppercase ff-serif text-dark bg-white" href="#"
        >Explore</a
      >
    </div>
  </main>
  <!-- Footer -->
  <footer id="footer"></footer>
  {% endblock %}
</body>
