{% extends "layout.html" %}
<!-- Title -->
{% block title %}MV Agusta{% endblock %} {% block bodyclass %}
<body class="bikes">
  {% endblock %}
  <!-- Navbar -->
  {% block nav %}
  <nav>
    <ul
      id="primary-navigation"
      data-visible="false"
      class="primary-navigation underline-indicators flex"
    >
      <li>
        <a class="ff-sans-cond uppercase text-white letter-spacing-2" href="/"
          ><span aria-hidden="true">00</span>Home</a
        >
      </li>
      <li class="active">
        <a
          class="ff-sans-cond uppercase text-white letter-spacing-2"
          href="/bikes"
          ><span aria-hidden="true">01</span>Bikes</a
        >
      </li>
      <li>
        <a
          class="ff-sans-cond uppercase text-white letter-spacing-2"
          href="/about"
          ><span aria-hidden="true">02</span>About</a
        >
      </li>
      <li>
        <a
          class="ff-sans-cond uppercase text-white letter-spacing-2"
          href="/contact"
          ><span aria-hidden="true">03</span>Contact</a
        >
      </li>
    </ul>
  </nav>
  {% endblock %}
  <!-- Body -->
  {% block content %}
  <!-- Container -->
  <main id="main" class="grid-container grid-container--bikes flow">
    <h1 class="numbered-title">
      <span aria-hidden="true">01</span> Choose your motorcycle
    </h1>

    <img src="./static/images/mv_dragster_r.jpg" alt="ktm" />
    <div class="tab-list underline-indicators flex">
      <button
        aria-selected="false"
        class="uppercase ff-sans-cond text-accent bg-dark letter-spacing-2"
      >
        <a href="/triumph">765RS</a>
      </button>
      <button
        aria-selected="false"
        class="uppercase ff-sans-cond text-accent bg-dark letter-spacing-2"
      >
        <a href="/ktm">Duke</a>
      </button>
      <button
        aria-selected="true"
        class="uppercase ff-sans-cond text-accent bg-dark letter-spacing-2"
      >
        <a class="text-white" href="/mvagusta">Dragster</a>
      </button>
      <button
        aria-selected="false"
        class="uppercase ff-sans-cond text-accent bg-dark letter-spacing-2"
      >
        <a href="/ducati">Fighter</a>
      </button>
    </div>

    <article class="bikes-info">
      <h2 class="fs-800 uppercase ff-serif">MV Agusta</h2>

      <p>
        With the looks of a street fighter, reflecting the powerful three-piston
        heart, the Dragster RR is a raw blend of technology, design and
        emotions. No other motorcycle better embodies this concept and the
        vision inspiring it.
      </p>

      <div class="bikes-meta flex">
        <div>
          <h3 class="text-accent fs-200 uppercase">Max. power @ 12300rpm</h3>
          <p class="ff-serif uppercase">140hp</p>
        </div>
        <div>
          <h3 class="text-accent fs-200 uppercase">Max. torque @ 10250rpm</h3>
          <p class="ff-serif uppercase">87Nm</p>
        </div>
      </div>
    </article>
  </main>
</body>
{% endblock %}
