{% extends "layout.html" %}
<!-- Title -->
{% block title %}Triumph{% endblock %} {% block bodyclass %}
<body class="bikes">
  {% endblock %}
  <!-- Navbar -->
  {% block nav %}
  <nav>
    <ul
      id="primary-navigation"
      data-visible="false"
      class="primary-navigation underline-indicators flex"
    >
      <li>
        <a class="ff-sans-cond uppercase text-white letter-spacing-2" href="/"
          ><span aria-hidden="true">00</span>Home</a
        >
      </li>
      <li class="active">
        <a
          class="ff-sans-cond uppercase text-white letter-spacing-2"
          href="/bikes"
          ><span aria-hidden="true">01</span>Bikes</a
        >
      </li>
      <li>
        <a
          class="ff-sans-cond uppercase text-white letter-spacing-2"
          href="/contact"
          ><span aria-hidden="true">02</span>Contact</a
        >
      </li>
      <li>
        <a
          class="ff-sans-cond uppercase text-white letter-spacing-2"
          href="/blog"
          ><span aria-hidden="true">03</span>Blog</a
        >
      </li>
    </ul>
  </nav>
  {% endblock %}
  <!-- Body -->
  {% block content %}
  <!-- Container -->
  <main id="main" class="grid-container grid-container--bikes flow">
    <h1 class="numbered-title">
      <span aria-hidden="true">01</span> Choose your motorcycle
    </h1>

    <img src="./static/images/triumph_street_triple.jpg" alt="triumph" />
    <div class="tab-list underline-indicators flex">
      <button
        aria-selected="true"
        class="uppercase ff-sans-cond text-accent bg-dark letter-spacing-2"
      >
        RS
      </button>
      <button
        aria-selected="false"
        class="uppercase ff-sans-cond text-accent bg-dark letter-spacing-2"
      >
        Duke
      </button>
      <button
        aria-selected="false"
        class="uppercase ff-sans-cond text-accent bg-dark letter-spacing-2"
      >
        Dragster
      </button>
      <button
        aria-selected="false"
        class="uppercase ff-sans-cond text-accent bg-dark letter-spacing-2"
      >
        Fighter
      </button>
    </div>

    <article class="bikes-info">
      <h2 class="fs-800 uppercase ff-serif">Triumph</h2>

      <p>
        The most powerful and poised Triumph Street Triple 765 RS ever is the
        definitive performance naked sports machine. This is the closest you can
        get to a genuine Moto2 racer for the road.
      </p>

      <div class="bikes-meta flex">
        <div>
          <h3 class="text-accent fs-200 uppercase">Max. power @ 12000rpm</h3>
          <p class="ff-serif uppercase">128.2hp</p>
        </div>
        <div>
          <h3 class="text-accent fs-200 uppercase">Max. torque @ 9500rpm</h3>
          <p class="ff-serif uppercase">80Nm</p>
        </div>
      </div>
    </article>
  </main>
</body>
{% endblock %}
