/* --------------------------- */
/* Custom properties           */
/* --------------------------- */

:root {
    /* either --dark-mode or --no-dark-mode 
    --color-scheme: var(--dark-mode); */

    /* Colours */
    --clr-fffBlue: 193 58% 51%;
    --clr-orangeOverlay: 180 6% 16%;
    --clr-textLight: 187 22% 93%;
    --clr-veryLightBlue: 193 66% 83%;
    --clr-white: 0 0% 100%;

    /* Font sizes */
    --fs-900: 5em;
    --fs-800: 3em;
    --fs-700: 2em;
    --fs-600: 1.5em;
    --fs-500: 1.25em;
    --fs-400: 1em;
    --fs-300: 0.9375em;
    --fs-200: 0.875em;
    --fs-100: 0.5em;

    /* Font families 
    --ff-sans-normal: "Raleway", sans-serif;*/
    /* settings
    --no-dark-mode: light;
    --dark-mode: dark light;*/

    /* Containers */
    --gap: 2rem;
    --flow-space: 1rem;
}

/* --------------------------- */
/* Reset                       */
/* --------------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0;
}



/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    font-family:"Raleway", sans-serif;
    font-size: calc(1rem + 0.75vw);
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
       scroll-behavior: auto;
    }
  
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
}

/* --------------------------- */
/* Utility classes             */
/* --------------------------- */

.flex {
    display: flex;
    gap: var(--gap, 3rem);
}

.flex-ai-c {
    align-items: center;
}

.flex-jc-c {
    justify-content: center;
}

.flex-jc-sa {
    justify-content: space-around;
}

.flex-jc-sb {
    justify-content: space-between;
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

.flow > *:where(:not(:first-child)) {
    margin-top: var(--flow-space, 1rem);
}


/* Containers */

.pad-11 {
    padding-top: 1rem;
}

.pad-21 {
    padding-top: var(--gap);
}
.pad-22 {
    padding-right: var(--gap);
    padding-left: var(--gap);
}
.pad-23 {
    padding-top: var(--gap);
    padding-right: var(--gap);
    padding-left: var(--gap);
}

.button_1 {
    margin-top: auto;
    margin-bottom: auto;
    padding: 0.6rem 2rem;
    border-radius: 2rem;
    background-color: hsl(var(--clr-veryLightBlue));
    height: max-content;
    text-align: center;
    text-decoration: none;
    color: hsl(var(--clr-orangeOverlay));
    font-weight: 700;
    display: none;
    font-size: 0.875rem;
}  

.button_1:hover {
    color: hsl(187, 22%, 93%);
    background-color: hsl(var(--clr-fffBlue));
}

/* For screen readers only */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* added line */
    border: 0;
}

/* Colours */

.bg-fffBlue { background-color: hsl( var(--clr-fffBlue) );}
.bg-orangeOverlay { background-color: hsl( var(--clr-orangeOverlay) );}
.bg-white { background-color: hsl( var(--clr-white) );}

.text-dark { color: hsl( var(--clr-dark) );}
.text-accent { color: hsl( var(--clr-accent) );}
.text-white { color: hsl( var(--clr-white) );}

/* Typography */

.ff-serif { font-family: var(--ff-serif); }
.ff-sans-cond { font-family: var(--ff-sans-cond); }
.ff-sans-normal { font-family: var(--ff-sans-normal); }

.letter-spacing-1 { letter-spacing: 4.75px; }
.letter-spacing-2 { letter-spacing: 2.7px; }
.letter-spacing-3 { letter-spacing: 2.35px; }

.uppercase { text-transform: uppercase; }

.fs-900 { font-size: var(--fs-900); }
.fs-700 { font-size: var(--fs-700); }
.fs-500 { font-size: var(--fs-500); }
.fs-400 { font-size: var(--fs-400); }
.fs-300 { font-size: var(--fs-300); }
.fs-100 { font-size: var(--fs-100); }

.fs-900,
.fs-700,
.fs-500 {
    line-height: 1.1;
}

.content-grid {
    z-index: 1;
    background-image: url("/images/pexels-pixabay-461064.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    text-decoration: none;
    border: 3px solid crimson;
}

@media (min-width: 40rem) {
    .content-grid {
        max-width: revert;
        height: 100vh;
    }
}

.overlay {
    position: fixed;
    z-index: 2;
    opacity: 0.85;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: hsl(var(--clr-orangeOverlay));
}

.header {
    display: flex;
    border: 2px solid blueviolet;
}


.logo,
.header-links,
.button_1,
.hamburger__icon {
    position: relative;
    z-index: 3;   
    border: 1px solid hotpink;
}

.logo {
    width: max-content;
    background-size: cover;
    background-repeat: no-repeat;
    width: 15%;
}

.logo > * {
    position: absolute;
}

.logo__graphic {
    opacity: 1;
}

.logo__full {
    opacity: 0;
}

@media (min-width: 650px) {

    .logo {
        height: 5rem;
    }

    .logo__graphic {
        opacity: 0;
    }
    
    .logo__full {
        opacity: 1;
    }
}

.hamburger__icon {
    padding-top: 1rem;
    background-color: var(--clr-veryLightBlue);
}

.hamburger__icon:hover {
    cursor: pointer;
    background-color: var(--clr-fffBlue);
}

.header-links {
    display: none;
    padding-right: 4rem;
}

@media (min-width: 40rem) {

    .hamburger__icon {
        display: none;
    }

    .header-links {
        display: flex;
        justify-content: space-between;
    }
}

.header__link a {
    font-weight: 500;
    color: hsl(var(--clr-white));
    text-decoration: none;
    text-transform: uppercase;
    opacity: 0;
}

.header__link a:hover {
    color: hsl(var(--clr-fffBlue));
}

@media (min-width: 40rem) {

    .header__link a {
        opacity: 1;
    }
}

.active a {
    color: hsl(var(--clr-fffBlue));
}

.hero-content > * {
    position: relative;
    z-index: 3;
    color: hsl(var(--clr-textLight));
    font-family: 'Prompt', sans-serif;
    padding: 2rem;
}

@media (min-width: 650px) {

    .hero-heading h1 {
        font-size: 2.5em;
    }
}

.hero-text > * {
    padding: 1rem 0;
}

.hero__text {
    width: max-content;
    max-width: 50%;
    margin-left: auto;
}
