:root {
  /* Colours */
  --primaryColor: hsl(94, 55%, 56%);
  --hoverColor: hsl(93, 75%, 76%);
  --paleGreen: hsl(96, 75%, 89%);
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0, 0%, 18%);
  --textColor: hsl(240, 1%, 48%);
  --greyText: hsl(0, 0%, 75%);
  --bgColor: hsl(113, 11%, 85%);
  --inputColor: hsl(330, 12%, 97%);

  /* Fonts and typography */
  --biggestFontSize: 2.5rem;
  --h1FontSize: 1.5rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: 0.938rem;
  --smallFontSize: 0.813rem;
  --smallestFontSize: 0.75rem;
}

.topSection {
  .headerSection {
    justify-content: space-between;

    .title {
      h1 {
        font-size: var(--h1FontSize);
        color: var(--blackColor);
        font-weight: 700;
      }

      p {
        font-size: var(--normalFontSize);
        color: var(--textColor);
        font-weight: 500;
      }
    }

    .searchBar {
      padding: 1rem 2rem;
      background: var(--whiteColor);
      border-radius: 5px;
      gap: 1rem;
      box-shadow: 0 2px 4px var(--inputColor);

      input {
        border: none;
        outline: none;
        background: none;
      }

      .icon {
        color: var(--textColor);

        &:hover {
          color: var(--primaryColor);
        }
      }
    }

    .adminDiv {
      gap: 1rem;

      .icon {
        font-size: var(--biggestFontSize);
        background: var(--whiteColor);
        border-radius: 5px;
        padding: 5px;
        box-shadow: 0 2px 4px var(--inputColor);
        color: var(--textColor);
      }
    }
  }
}
