* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background: var( --color-bg );
}

a {
    color: unset;
    text-decoration: none;
}

.gradient__bg {
    /* mozilla firefox */
    background: -moz-radial-gradient(circle at 0% 0%, rgba(0, 40, 83, 1) 30%, rgba(4, 12, 24, 1) 66%) no-repeat border-box, -moz-radial-gradient(ellipse at 100% 50%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 73%) no-repeat border-box, -moz-radial-gradient(circle at 0% 50%, rgba(0, 40, 83, 1) -10%, rgba(4, 12, 24, 1) 60%) no-repeat border-box; 
    /* safari 5.1+,chrome 10+ */
    background: -webkit-radial-gradient(circle at 0% 0%, rgba(0, 40, 83, 1) 30%, rgba(4, 12, 24, 1) 66%) no-repeat border-box, -webkit-radial-gradient(ellipse at 100% 50%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 73%) no-repeat border-box, -webkit-radial-gradient(circle at 0% 50%, rgba(0, 40, 83, 1) -10%, rgba(4, 12, 24, 1) 60%) no-repeat border-box; 
    /* opera 11.10+ */
    background: -o-radial-gradient(circle at 0% 0%, rgba(0, 40, 83, 1) 30%, rgba(4, 12, 24, 1) 66%) no-repeat border-box, -o-radial-gradient(ellipse at 100% 50%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 73%) no-repeat border-box, -o-radial-gradient(circle at 0% 50%, rgba(0, 40, 83, 1) -10%, rgba(4, 12, 24, 1) 60%) no-repeat border-box; 
    /* ie 10+ */
    background: -ms-radial-gradient(circle at 0% 0%, rgba(0, 40, 83, 1) 30%, rgba(4, 12, 24, 1) 66%) no-repeat border-box, -ms-radial-gradient(ellipse at 100% 50%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 73%) no-repeat border-box, -ms-radial-gradient(circle at 0% 50%, rgba(0, 40, 83, 1) -10%, rgba(4, 12, 24, 1) 60%) no-repeat border-box; 
    /* global 92%+ browsers support */
    background: radial-gradient(circle at 0% 0%, rgba(0, 40, 83, 1) 30%, rgba(4, 12, 24, 1) 66%) no-repeat border-box, radial-gradient(ellipse at 100% 50%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 73%) no-repeat border-box, radial-gradient(circle at 0% 50%, rgba(0, 40, 83, 1) -10%, rgba(4, 12, 24, 1) 60%) no-repeat border-box; 
    background-size: 50% 12%, 600px 600px, 600px 900px;
    background-position: 0 0, 1000px 780px, 0px 1600px;
}

.gradient__text {
    background: var( --gradient-text );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section__padding {
    padding: 4rem 6rem;
}

.section__margin {
    margin: 4rem 6rem;
}

.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
                transform: scale(0.5);
    }
    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}

@keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
                transform: scale(0.5);
    }
    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}

@media screen and (max-width: 61.875rem) { /* 990px */ 
    .gradient__bg {
        /* mozilla firefox */
        background: -moz-radial-gradient(circle at 0% 0%, rgba(0, 40, 83, 1) 1%, rgba(4, 12, 24, 1) 53%) no-repeat border-box, -moz-radial-gradient(ellipse at 100% 50%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 73%) no-repeat border-box, -moz-radial-gradient(circle at 0% 50%, rgba(0, 40, 83, 1) -10%, rgba(4, 12, 24, 1) 60%) no-repeat border-box; 
        /* safari 5.1+,chrome 10+ */
        background: -webkit-radial-gradient(circle at 0% 0%, rgba(0, 40, 83, 1) 1%, rgba(4, 12, 24, 1) 53%) no-repeat border-box -webkit-radial-gradient(ellipse at 100% 50%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 73%) no-repeat border-box, -webkit-radial-gradient(circle at 0% 50%, rgba(0, 40, 83, 1) -10%, rgba(4, 12, 24, 1) 60%) no-repeat border-box; 
        /* opera 11.10+ */
        background: -o-radial-gradient(circle at 0% 0%, rgba(0, 40, 83, 1) 1%, rgba(4, 12, 24, 1) 53%) no-repeat border-box, -o-radial-gradient(ellipse at 100% 50%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 73%) no-repeat border-box, -o-radial-gradient(circle at 0% 50%, rgba(0, 40, 83, 1) -10%, rgba(4, 12, 24, 1) 60%) no-repeat border-box; 
        /* ie 10+ */
        background: -o-radial-gradient(circle at 0% 0%, rgba(0, 40, 83, 1) 1%, rgba(4, 12, 24, 1) 53%) no-repeat border-box, -o-radial-gradient(ellipse at 100% 50%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 73%) no-repeat border-box, -o-radial-gradient(circle at 0% 50%, rgba(0, 40, 83, 1) -10%, rgba(4, 12, 24, 1) 60%) no-repeat border-box; 
        /* global 92%+ browsers support */
        background: radial-gradient(circle at 0% 0%, rgba(0, 40, 83, 1) 1%, rgba(4, 12, 24, 1) 53%) no-repeat border-box, radial-gradient(ellipse at 100% 50%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 73%) no-repeat border-box, radial-gradient(circle at 0% 50%, rgba(0, 40, 83, 1) -10%, rgba(4, 12, 24, 1) 60%) no-repeat border-box; 
        background-size: 75% 12%, 600px 600px, 600px 900px;
        background-position: 0 0, 500px 1400px, 0px 2500px;
    }
}

@media screen and (max-width: 43.75rem) { /* 700px */
    .section__padding {
        padding: 4rem;
    }
    .section__margin {
        margin: 4rem;
    }
}
  
@media screen and (max-width: 34.375rem) { /* 550px */
    .gradient__bg {
        /* mozilla firefox */
        background: -moz-radial-gradient(circle at 0% 0%, rgba(0, 40, 83, 1) 1%, rgba(4, 12, 24, 1) 33%) no-repeat border-box, -moz-radial-gradient(ellipse at 100% 50%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 73%) no-repeat border-box, -moz-radial-gradient(circle at 0% 50%, rgba(0, 40, 83, 1) -10%, rgba(4, 12, 24, 1) 60%) no-repeat border-box; 
        /* safari 5.1+,chrome 10+ */
        background: -webkit-radial-gradient(circle at 0% 0%, rgba(0, 40, 83, 1) 1%, rgba(4, 12, 24, 1) 33%) no-repeat border-box, -webkit-radial-gradient(ellipse at 100% 50%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 73%) no-repeat border-box, -webkit-radial-gradient(circle at 0% 50%, rgba(0, 40, 83, 1) -10%, rgba(4, 12, 24, 1) 60%) no-repeat border-box; 
        /* opera 11.10+ */
        background: -o-radial-gradient(circle at 0% 0%, rgba(0, 40, 83, 1) 1%, rgba(4, 12, 24, 1) 33%) no-repeat border-box, -o-radial-gradient(ellipse at 100% 50%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 73%) no-repeat border-box, -o-radial-gradient(circle at 0% 50%, rgba(0, 40, 83, 1) -10%, rgba(4, 12, 24, 1) 60%) no-repeat border-box; 
        /* ie 10+ */
        background: -ms-radial-gradient(circle at 0% 0%, rgba(0, 40, 83, 1) 1%, rgba(4, 12, 24, 1) 33%) no-repeat border-box, -ms-radial-gradient(ellipse at 100% 50%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 73%) no-repeat border-box, -ms-radial-gradient(circle at 0% 50%, rgba(0, 40, 83, 1) -10%, rgba(4, 12, 24, 1) 60%) no-repeat border-box; 
        /* global 92%+ browsers support */
        background: radial-gradient(circle at 0% 0%, rgba(0, 40, 83, 1) 1%, rgba(4, 12, 24, 1) 33%) no-repeat border-box, radial-gradient(ellipse at 100% 50%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 73%) no-repeat border-box, radial-gradient(circle at 0% 50%, rgba(0, 40, 83, 1) -10%, rgba(4, 12, 24, 1) 60%) no-repeat border-box; 
        background-size: 75% 12%, 600px 600px, 600px 900px;
        background-position: 0 0, 300px 960px, 0px 2500px;
    }

    .section__padding {
        padding: 4rem 2rem;
    }
    .section__margin {
        margin: 4rem 2rem;
    }
}
