:root {
  /* Colours */
  --primaryColor: hsl(94, 55%, 56%);
  --hoverColor: hsl(93, 75%, 76%);
  --paleGreen: hsl(96, 75%, 89%);
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0, 0%, 18%);
  --textColor: hsl(240, 1%, 48%);
  --greyText: hsl(0, 0%, 75%);
  --bgColor: hsl(113, 11%, 85%);
  --inputColor: hsl(330, 12%, 97%);
  /* Fonts and typography */
  --biggestFontSize: 2.5rem;
  --h1FontSize: 1.5rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: 0.938rem;
  --smallFontSize: 0.813rem;
  --smallestFontSize: 0.75rem;
}

.sidebar {
  background: var(--whiteColor);
  box-shadow: 1px 0px 4px var(--greyText);
  width: 15%;
  height: 100%;
  gap: 3rem;
  overflow: auto;
}
.sidebar .logoDiv {
  padding: 1.5rem 1.5rem 0;
  cursor: pointer;
}
.sidebar .logoDiv img {
  max-width: 20px;
  margin-right: 0.25rem;
  border-radius: 2px;
  padding: 0.2rem;
}
.sidebar .logoDiv h2 {
  font-size: var(--h2FontSize);
  color: var(--primaryColor);
}
.sidebar .menuDiv .divTitle,
.sidebar .settingsDiv .divTitle {
  font-size: var(--h3FontSize);
  color: var(--blackColor);
  padding: 0 1.5rem 1.5rem;
}
.sidebar .menuDiv .menuLists .listItem,
.sidebar .settingsDiv .menuLists .listItem {
  padding: 0.2rem 1.5rem;
  width: 100%;
  position: relative;
}
.sidebar .menuDiv .menuLists .listItem::before,
.sidebar .settingsDiv .menuLists .listItem::before {
  position: absolute;
  content: "";
  height: 0%;
  left: 0;
  width: 5px;
  bottom: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background: var(--primaryColor);
}
.sidebar .menuDiv .menuLists .listItem .menuLink,
.sidebar .settingsDiv .menuLists .listItem .menuLink {
  color: var(--greyText);
  font-weight: 500;
  transition: 0;
}
.sidebar .menuDiv .menuLists .listItem .menuLink .icon,
.sidebar .settingsDiv .menuLists .listItem .menuLink .icon {
  margin-right: 0.5rem;
}
.sidebar .menuDiv .menuLists .listItem:hover .menuLink,
.sidebar .settingsDiv .menuLists .listItem:hover .menuLink {
  color: var(--primaryColor);
  transition: 0;
}
.sidebar .menuDiv .menuLists .listItem:hover::before,
.sidebar .settingsDiv .menuLists .listItem:hover::before {
  height: 100%;
  transition: 0.3s ease;
}
.sidebar .sidebarCard {
  width: 100%;
  padding: 1rem;
  text-align: center;
  position: relative;
}
.sidebar .sidebarCard .icon {
  position: absolute;
  background: var(--hoverColor);
  border: 10px solid var(--whiteColor);
  font-size: 3rem;
  border-radius: 50%;
  top: -8px;
  right: 50%;
  transform: translate(50%);
  z-index: 100;
}
.sidebar .sidebarCard .cardContent {
  position: relative;
  padding: 1rem;
  background: var(--hoverColor);
  border-radius: 10px;
  overflow: hidden;
}
.sidebar .sidebarCard .cardContent h3 {
  font-size: var(--h3FontSize);
  margin-top: 0.5rem;
  padding: 1rem 0;
  font-weight: 800;
  color: var(--blackColor);
}
.sidebar .sidebarCard .cardContent p {
  font-size: var(--normalFontSize);
  color: var(--textColor);
  padding-bottom: 1rem;
  font-weight: 500;
}
.sidebar .sidebarCard .cardContent .btn {
  position: relative;
  color: var(--textColor);
  z-index: 1000;
}