{% extends "layout.html" %} {% block title %}<title>
  promotor motorcycle haven | Who We Are</title
>{% endblock %}{% block nav %}
<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li class="current"><a href="/about">About</a></li>
    <li><a href="/services">Services</a></li>
  </ul>
</nav>
{% endblock %} {% block body %}
<section id="main">
  <div class="container">
    <article id="main-col">
      <h1 class="page-title">About Us</h1>
      <p>
        Metus sagittis ligula, at scelerisque mollis conubia nostra. Molestie
        nostra pharetra, posuere facilisis, vestibulum senectus rutrum praesent
        dolor eget. Habitasse class id ultrices, malesuada aliquam eu, mi
        ultricies purus morbi netus. Adipiscing integer consectetur, venenatis,
        porta cubilia non varius scelerisque erat dolor. Pharetra curabitur
        torquent, habitasse vivamus, quisque fringilla nullam bibendum nostra eu
        cras.
      </p>
      <p class="dark">
        Libero ut laoreet, egestas pharetra, sapien iaculis eget quisque morbi
        vestibulum. Adipiscing integer consectetur, pellentesque ad velit ipsum
        mauris. Nibh porttitor interdum, malesuada venenatis, porta cubilia non
        varius scelerisque erat dolororci netus. Pharetra curabitur torquent,
        habitasse vivamus, sollicitudin, eros scelerisque bibendum, cursus
        accumsan vel curabitur dolor nostra taciti. Libero felis purus,
        himenaeos consectetur, sociosqu fusce sollicitudin bibendum suspendisse
        ullamcorper auctor.
      </p>
      <p>
        Amet tristique posuere, porttitor malesuada, himenaeos nibh lectus
        fringilla est integer. Adipiscing integer consectetur, venenatis, porta
        cubilia non varius scelerisque erat dolor. Ursus. Amet tristique
        posuere, porttitor malesuada, himenaeos nibh lectus. Pharetra curabitur
        torquent, habitasse vivamus, quisque fringilla nullam bibendum nostra eu
        cras.
      </p>
    </article>

    <aside id="sidebar">
      <div class="dark">
        <h3>Contact Us</h3>
        <form class="quote">
          <div>
            <label>Name</label><br />
            <input type="text" placeholder="Name" />
          </div>
          <div>
            <label>Email</label><br />
            <input type="text" placeholder="Email" />
          </div>
          <div>
            <label>Message</label><br />
            <textarea placeholder="Make an enquiry or just say 'Hi'"></textarea>
          </div>
          <button class="button_1" type="submit">Send</button>
        </form>
      </div>
    </aside>
  </div>
</section>
<div class="footer">
  <footer>
    <p>
      <span id="bold"
        ><span class="highlight_2">promotor</span
        ><span class="highlight_3"> motorcycle haven</span></span
      >
      &copy; 2022
    </p>
  </footer>
</div>
{% endblock %}
