:root {
  /* Colours */
  --primaryColor: hsl(94, 55%, 56%);
  --hoverColor: hsl(93, 75%, 76%);
  --paleGreen: hsl(96, 75%, 89%);
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0, 0%, 18%);
  --textColor: hsl(240, 1%, 48%);
  --greyText: hsl(0, 0%, 75%);
  --bgColor: hsl(113, 11%, 85%);
  --inputColor: hsl(330, 12%, 97%);

  /* Fonts and typography */
  --biggestFontSize: 2.5rem;
  --h1FontSize: 1.5rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: 0.938rem;
  --smallFontSize: 0.813rem;
  --smallestFontSize: 0.75rem;
}

.listingSection {
  flex-basis: 70%;

  .heading {
    width: 100%;
    justify-content: space-between;

    h1 {
      font-size: var(--h2FontSize);
      color: var(--blackColor);
      font-weight: 700;
    }

    .btn {
      border: 1px solid transparent;
      border-radius: 5px;
      font-weight: 500;
    }

    .btn:hover {
      border: 1px solid var(--primaryColor);
    }
  }

  .secContainer {
    width: 100%;
    margin: 1rem 0;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: space-between;

    .singleItem {
      position: relative;
      width: 150px;
      height: 170px;
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 1rem;
      border-radius: 10px;
      background: var(--greyText);

      &:hover {
        background: var(--greyText);
        box-shadow: 0 2px 2px var(--inputColor);
      }

      img {
        max-width: 100px;
      }

      .icon {
        position: absolute;
        top: 10px;
        right: 10px;
        color: var(--primaryColor);
      }

      h3 {
        font-size: var(--h3FontSize);
        color: var(--blackColor);
        padding: 1rem 0;
      }
    }
  }

  .customers {
    width: 100%;
    justify-content: space-between;
    gap: 1rem;
    align-items: flex-start;

    .topCustomer {
      .heading {
        padding: 1rem 0;

        .btn {
          padding: 0.5rem 1rem;
        }
      }

      .card {
        padding: 1rem;
        border-radius: 1rem;
        background: var(--whiteColor);
        gap: 1rem;
        box-shadow: 0 2px 4px var(--inputColor);

        .users {
          padding-right: 1rem;
          border-right: 2px solid var(--greyText);

          img {
            width: 30px;
          }
        }
      }
    }
  }
}
