body {
    background-image: url("grumpy_cat.");
}

.error {
    position: relative;
}

.error > * {
    z-index: 99;
    position: absolute;
    text-align: center;
    color: white;
}

.error-code {
    top: 20px;
    font-size: 50px;
}

.error-desc {
    top: 75px;
    font-size: 40px;
}

.legend {
    bottom: 20px;
    font-size: 30px;
}
