<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="description" content="All things motorcycle" />
    <meta name="keywords" content="web developer, web design, web hosting" />
    <meta name="author" content="fivefiftyfive" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Condensed:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/scss/style.css" />
    <link
      rel="icon"
      type="PNG file"
      href="/static/images/fivefiftyfive.io_logo.png"
    />
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body class="body-container">
    <header class="header-container">
      <div class="header-logo">
        <div class="logo__image">
          <a href="#"><img src="/static/images/fivefiftyfive.io_logo.png" /></a>
        </div>
        <div class="logo__name">
          <img src="/static/images/fivefiftyfive.io_name.png" />
        </div>
      </div>
      {% block nav %}
      <div class="header-navigation flex">
        <div class="header-links">
          <nav class="flex flex-jc-sa">
            <a href="#" class="header__link">About</a>
            <a href="#" class="header__link">Blog</a>
            <a href="#" class="header__link">Contact</a>
            <a href="#" class="header__link">Services</a>
          </nav>
        </div>
      </div>
      {% endblock %}
      <div class="header-hamburger">
        <img
          class="header__hamburger"
          src="/static/images/icon-hamburger.svg"
        />
      </div>
      <div class="button"><a href="#">Get A Quote</a></div>
    </header>
    {% block content %}{% endblock %}
    <footer></footer>
  </body>
</html>
