{% extends "layout.html" %}
<!-- Title -->
{% block title %}fivefiftyfive | landing page{% endblock %}
<!-- Header navigation -->
{% block nav %}
<div class="header-links">
  <nav class="">
    <a href="#" class="header__link">Home</a>
    <a href="#" class="header__link">About</a>
    <a href="#" class="header__link">Services</a>
    <a href="#" class="header__link">Contact</a>
    <a href="#" class="header__link">Blog</a>
  </nav>
</div>
{% endblock %}
<!-- Content -->
{% block content %}
<div class="hero-container">
  <div class="hero-content">
    <!-- Headline -->
    <h1>Web Development Strategies</h1>
    <!-- Paragraphs -->
    <p class="p-1">
      Need creative web design, development and hosting, site management, and
      targeted search engine optimization?
    </p>
    <p class="p-2">
      <span class="fivefiftyfive">fivefiftyfive</span> can help you take your
      business to the next level by creating a remarkable presence online for
      your brand.
    </p>
  </div>
</div>
{% endblock %}
