{% extends "layout.html" %}
<!-- Title -->
{% block title %}fivefiftyfive | landing page{% endblock %}
<!-- Header navigation -->
{% block nav %}
<div class="header-links">
  <nav class="">
    <a href="#" class="header__link">About</a>
    <a href="#" class="header__link">Services</a>
    <a href="#" class="header__link">Contact</a>
    <a href="#" class="header__link">Blog</a>
  </nav>
</div>
{% endblock %}
<!-- Content -->
{% block hero %}
<div class="hero-container">
  <div class="hero-content">
    <!-- Headline -->
    <h1>Web Strategy</h1>
    <!-- Paragraphs -->
    <p>
      Navigating web design, development, hosting, management, and search engine
      optimization requires the right partner. Someone you can trust.
    </p>
    <p>
      <span class="fivefiftyfive">fivefiftyfive</span> can help you take your
      business to the next level by creating a remarkable presence online for
      your brand.
    </p>
  </div>
</div>
{% endblock %} {% block features %}
<div class="features-container">
  <!-- Container heading -->
  <h2>What We Do</h2>
  <div class="box">
    <h3 class="box__heading">Creative Design</h3>
    <p class="box__paragraph"></p>
  </div>
</div>
{% endblock %} {% block aboutus %}{% endblock %} {% block testimonial %}{%
endblock %} {% block cta %}{% endblock %}
