{% extends "layout.html" %}
<!-- Title -->
{% block title %}fivefiftyfive | landing page{% endblock %}
<!-- Header -->
{% block header %}

<div class="header-container flex flex-jc-sb">
    <div class="header-logo">
        <div class="logo__image flex flex-jc-sa"><img src="/static/images/fivefiftyfive.io_logo.png"></img></div>
        <div class="logo__name"><img src="/static/images/fivefiftyfive.io_name.png"></div>
    </div>
    
    <!--<div class="header__logo"><img class="" src="/static/images/fivefiftyfive-logo.png"></img></div>
    <nav class="header-links flex flex-jc-sa">
        <div class="header__link">Home</div>
        <div class="header__link">Services</div>
        <div class="header__link">About</div>
        <div class="header__link">Contact</div>
        <div class="header__link">Blog</div>
    </nav>-->
    <div class="header__hamburger"><img src="/static/images/icon-hamburger.svg"/></div>
    
</div>

<div class="parent">
    <div>Lorem</div>
    <div>Quis</div>
    <div>Vitae</div>
    <div>Fugiat</div>
    <div>Aliquam</div>
    <div>Iusto</div>
    <div>Repellendus</div>
    <div>Molestiae</div>
    <div>Consequuntur</div>
    <div>Quam</div>
    <div>Lorem</div>
    <div>Quis</div>
    <div>Vitae</div>
    <div>Fugiat</div>
    <div>Aliquam</div>
    <div>Iusto</div>
    <div>Repellendus</div>
    <div>Molestiae</div>
    <div>Consequuntur</div>
    <div>Quam</div>
</div>
{% endblock %}
<!-- Body content -->
{% block body %}{% endblock %}
