/* --------------------------- */
/* Reset                       */
/* --------------------------- */

html {
  /* Allows user to control font size in own browser */
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
}

html,
body {
  height: 100%;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  font-family: "Roboto", sans-serif;
  font-size: calc(1rem + 0.75vw);
  text-rendering: optimizeSpeed;
  color: hsl(var(--col-monoWhite));
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.body-container {
  background-image: url("/static/images/pexels-pixabay-461064_crop.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 64rem) {
  .body-container {
    background-position: top right;
  }
}

.body-container::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: hsla(324, 9%, 22%, 0.7);
  backdrop-filter: blur(1px);
}

/* Fallback for browsers that don't support backdrop-filter */
@supports not (backdrop-filter: blur(1px)) {
  .body-container::before {
    background-color: hsl(324, 9%, 22%); // Use a solid color instead
  }
}

/* --------------------------- */
/* Utility classes             */
/* --------------------------- */

.box-1 {
  padding: 2rem 2rem 0;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.flex-jc-sa {
  justify-content: space-around;
}

.flex-jc-sb {
  justify-content: space-between;
}

.button {
  background: hsl(var(--col-logoBlue));
  padding: 0.8rem 3rem;
  border-radius: 3rem;
  font-size: 0.6em;
  text-transform: uppercase;
}

.button a {
  text-decoration: none;
  color: hsl(var(--col-monoWhite));
}

.button:hover {
  padding: 0.7rem 2.8rem;
  font-size: 0.65em;
  font-weight: 700;
}
