.header-container {
  position: absolute;
  top: 0;
}

.header-content {
  position: relative;
  z-index: 3;
}

.header-content > *:not(.header__bg) {
  position: absolute;
}

.header__bg {
  content: "";
  background-color: transparent;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  height: 5rem;
  //border: 1px solid firebrick;
}

@media (min-width: 32rem) {
  .header__bg {
    height: 6rem;
  }
}

@media (min-width: 64rem) {
  .header__bg {
    height: 7rem;
  }
}

.header-logo {
  width: min-content;
  height: 3.5rem;
  bottom: 0;
  left: 5%;
  //border: 1px solid navajowhite;
}

.header__logo {
  max-width: revert;
  backdrop-filter: blur(1px);
  //border: 1px solid royalblue;
}

.header__logo:hover {
  filter: hue-rotate(0deg) saturate(0.8);
}

.header-links {
  position: absolute;
  height: 3.5rem;
  bottom: 0;
  right: 25%;
  opacity: 0;
  width: max-content;
  backdrop-filter: blur(1px);
  letter-spacing: 0.0625rem;
  //border: 1px solid peru;
}

.header-links a {
  font-family: "Jost", sans-serif;
  font-size: 0.55em;
  color: hsl(var(--col-monoWhite));
  text-decoration: none;
  text-transform: uppercase;
}

.header-links a:hover {
  font-weight: 700;
}

.header-links a:not(:last-child) {
  padding-right: 2.5rem;
}

@media (min-width: 64rem) {
  .header-links {
    opacity: 1;
  }
}

.header-hamburger {
  right: 5%;
  bottom: 0.75rem;
  position: absolute;
  //border: 1px solid mediumvioletred;
}

.header__hamburger {
  filter: invert(0.3);
}

.header__hamburger:hover {
  cursor: pointer;
  filter: invert(0.35);
}

@media (min-width: 64rem) {
  .header__hamburger {
    opacity: 0;
  }
}

.button {
  position: absolute;
  right: 5%;
  bottom: 1rem;
  opacity: 0;
  width: max-content;
  background-color: hsl(var(--col-monoWhite));
  //border: 1px solid honeydew;
}

@media (min-width: 64rem) {
  .button {
    opacity: 1;
  }
}
