.header {
    padding: 1rem;
}

.header > * {
    position: absolute;
}

.header-container {
    width: 100%;
    height: 2.5rem;
}

.header-logo {
    flex-direction: row;
    backdrop-filter: blur(2px);
}

.logo__image {
    width: 15%;
}

.logo__name {
    opacity: 0;
}

.logo__image img,
.logo__name img {
    filter: hue-rotate(0deg) saturate(0.3);
}

.logo__name  img {
    color: hsl( Var(--col-nameBlue) );
    width: 85%;
}

@media (min-width: 32rem) {

    .logo__image {
        width: 12%;
    }

    .logo__name {
        opacity: 1;
    }

    .logo__name img {
        width: 110%;
        padding: 0.5rem;
    }
}

.header__hamburger {
    margin-top: auto;
    margin-bottom: auto;
    width: 2.25rem;
}

.header__hamburger img {
    filter: invert(0.6);
}

.header__hamburger:hover {
    filter: invert(0.75);
}

.header-links {
    gap: 2rem;
    color: hsl( var(--col-monoBlue) );
    border: 1px solid peru;
}

.header-links a {
    text-decoration: none;
}

@media (min-width: 64rem) {

    .header__hamburger {
        opacity: 0;
    }

    .header-links {
        opacity: 1;
    }
}


