.header-container {
    border: 2px solid tomato;
}

.header__icon,
.header__logo,
.header__link,
.header__hamburger {
    border: 1px solid blueviolet;
}

.header__icon {
    width: 3rem;
}

.header__hamburger {
    width: 2.5rem;
}

.header__logo {
    opacity: 0;
}

.header-links {
    gap: 2rem;
    opacity: 0;
    border: 1px solid royalblue;
}



