.hero-content > * {
  position: absolute;
  max-width: 70%;
  padding-left: 1rem;
  letter-spacing: 0.075rem;
}

.hero-content h1 {
  font-size: 3em;
  font-weight: 400;
  line-height: 1.2;
  top: 30%;
}

@media (min-width: 64rem) {
  .hero-content h1 {
    max-width: 100%;
    top: 45%;
    text-align: center;
  }
}

.hero-content p {
  font-family: "Jost", sans-serif;
  font-size: 0.85em;
}

@media (min-width: 64rem) {
  .hero-content p {
    text-align: right;
    width: 30rem;
  }
}

.p-1 {
  top: 60%;
}

.p-2 {
  top: 75%;
}
