/*.hero-content {
  //border: 1px solid darkorange;
}*/

.hero-content > * {
  position: absolute;
  padding-left: 1rem;
}

.hero-content h1 {
  top: 40%;
  font-size: 2em;
  font-weight: 400;
  line-height: 1.2;
}

@media (min-width: 64rem) {
  .hero-content h1 {
    font-size: 3em;
    max-width: 100%;
    width: 100%;
    top: 30%;
    left: 10rem;
    //border: 1px solid fuchsia;
  }
}

.hero-content p {
  padding: 2rem;
  font-family: "Jost", sans-serif;
  font-size: 0.85em;
  letter-spacing: 0.1875rem;
  //border: 1px solid darkslateblue;
}

@media (min-width: 64rem) {
  .hero-content p {
    right: 10rem;
    font-size: 0.75em;
    text-align: right;
    width: 30rem;
  }
}

.p-1 {
  top: 60%;
}

.p-2 {
  top: 80%;
}

@media (min-width: 64rem) {
  .p-1 {
    top: 50%;
  }
  .p-2 {
    top: 70%;
  }
}
