.hero-content > * {
  position: absolute;
  padding: 2rem;
}

.hero-content h1 {
  top: 25%;
  font-weight: 400;
  line-height: 1.2;
}

@media (min-width: 64rem) {
  .hero-content h1 {
    width: max-content;
    top: 30%;
    left: 10rem;
    //border: 1px solid fuchsia;
  }
}

.hero-content p {
  font-family: "Jost", sans-serif;
  font-size: var(--fs-300);
  letter-spacing: 0.1875rem;
  //border: 1px solid darkslateblue;
}

@media (min-width: 64rem) {
  .hero-content p {
    right: 10rem;
    text-align: right;
    width: 44rem;
  }
}

.hero-content p {
  backdrop-filter: blur(1px);
}

.hero-content p:nth-of-type(1) {
  top: 50%;
}

.hero-content p:nth-of-type(2) {
  top: 70%;
}
