.features-container {
  background-color: hsl(var(--col-nameBlue));
  color: hsl(var(--col-darkBlueGrey));
}

.features__heading {
  text-align: center;
  border: 1px solid fuchsia;
}

@media (min-width: 64rem) {
  .box-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 2rem;
  //border: 2px solid gold;
}

.box > * {
  text-align: center;
  //border: 1px solid orangered;
}

.box__icon {
  width: 9rem;
  margin-right: auto;
  margin-left: auto;
  filter: invert(28%) sepia(24%) saturate(405%) hue-rotate(148deg)
    brightness(92%) contrast(92%);
  //border: 1px solid purple;
}

.aboutus-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  background-color: hsl(var(--col-lightBlue));
  padding: 5rem;
  color: hsl(var(--col-darkBlueGrey));
}
