/* --------------------------- */
/* Custom properties           */
/* --------------------------- */

:root {

    /* Colours */
    --col-darkBlueGrey: #3c4c54;
    --col-lightBlue: #5c8db8;
    --col-justBlue: #2573b5;
    --col-standardBlue: #2596be;
    // Complement
    --col-RedBrown: #be4d25;
    // Monochromatic
    --col-monoBlack: #041014;
    --col-monoBlue: #145369;

    /* Font sizes */
    --fs-900: 5em;
    --fs-800: 3em;
    --fs-700: 2em;
    --fs-600: 1.5em;
    --fs-500: 1.25em;
    --fs-400: 1em;
    --fs-300: 0.9375em;
    --fs-200: 0.875em;
    --fs-100: 0.5em;

    /* Containers */
    --gap: 2rem;
    --flow-space: 1rem;
}
