/* --------------------------- */
/* Custom properties           */
/* --------------------------- */

:root {

    /* Colours */
    --col-standardBlue: #2596be;

    --col-darkBlueGrey: 200 17% 28%;
    --col-lightBlue: #25a5be;
    --col-justBlue: #2573b5;

    // Complement
    --col-RedBrown: #be4d25;
    // Monochromatic
    --col-monoBlack: #041014;
    --col-monoBlue: #145369;
    // Split-complementary
    --col-bluishPurple: #6c25be;
    --col-offMustard: #bea925;


    /* Font sizes */
    --fs-900: 5em;
    --fs-800: 3em;
    --fs-700: 2em;
    --fs-600: 1.5em;
    --fs-500: 1.25em;
    --fs-400: 1em;
    --fs-300: 0.9375em;
    --fs-200: 0.875em;
    --fs-100: 0.5em;

    /* Containers */
    --gap: 2rem;
    --flow-space: 1rem;
}
