/* --------------------------- */
/* Custom properties           */
/* --------------------------- */
:root {
  /* Colours */
  --col-fffBlue: 194 93% 58%;
  --col-fffGreen: 89 70% 55%;
  --col-fffGreenPurple: 269 70% 55%;
  --col-fffGreenReddish: 359 70% 55%;
  --col-fffGreenDark: 90 57% 5%;
  /* Font sizes */
  --fs-900: 5em;
  --fs-800: 3em;
  --fs-700: 2em;
  --fs-600: 1.5em;
  --fs-500: 1.25em;
  --fs-400: 1em;
  --fs-300: 0.9375em;
  --fs-200: 0.875em;
  --fs-100: 0.5em;
  /* Containers */
  --gap: 2rem;
  --flow-space: 1rem;
}

/* --------------------------- */
/* Reset                       */
/* --------------------------- */
html {
  /* Allows user to control font size in own browser */
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* https://piccalil.li/blog/a-modern-css-reset/ */
/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  background-color: hsl(var(--col-fffGreenDark));
  font-family: "Raleway", sans-serif;
  font-size: calc(1rem + 0.75vw);
  text-rendering: optimizeSpeed;
  color: hsl(0, 0%, 96%);
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*
.header {
    border: 1px solid firebrick;
}
*/
.header-container {
  width: 100%;
}

/* --------------------------- */
/* Utility classes             */
/* --------------------------- */
.box-1 {
  padding: 2rem 2rem 0;
}

.flex {
  display: flex;
}

.flex-jc-sa {
  justify-content: space-around;
}

.flex-jc-sb {
  justify-content: space-between;
}

/*
.header-container {
    border: 2px solid tomato;
}

.header__icon,
.header__logo,
.header__link,
.header__hamburger {
    border: 1px solid blueviolet;
}
*/
.header__icon,
.header__hamburger {
  margin-top: auto;
  margin-bottom: auto;
  width: 3rem;
}

.header__icon,
.header__logo {
  filter: hue-rotate(90deg); /* 120deg is the equivalent of red in the hue spectrum */
}

.header__logo {
  opacity: 0;
}

.header-links {
  gap: 2rem;
  opacity: 0;
  border: 1px solid royalblue;
}