/* --------------------------- */
/* Reset                       */
/* --------------------------- */
html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* https://piccalil.li/blog/a-modern-css-reset/ */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

ul,
ol {
  list-style: none;
}

html,
body {
  height: 100%;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: calc(1rem + 0.75vw);
  text-rendering: optimizeSpeed;
  color: hsl(var(--col-monoWhite));
  line-height: 1.5;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.body-container {
  background-image: url("/static/images/pexels-pixabay-461064_crop.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.body-container::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: hsla(159, 20%, 20%, 0.8);
  backdrop-filter: blur(1px);
}

@supports not (backdrop-filter: blur(1px)) {
  .body-container::before {
    background-color: hsl(324, 9%, 22%);
  }
}