/* --------------------------- */
/* Custom properties           */
/* --------------------------- */
:root {
  /* Colours */
  --col-logoBlue: 207 85 16;
  --col-nameBlue: 207 66 43;
  --col-darkBlueGrey: 200 17% 28%;
  --col-lightBlue: 190 67% 45%;
  --col-redBrown: 8 77% 15%;
  --col-bluePurple: 268 67% 45%;
  --col-offMustard: 52 67% 45%;
  --col-darkBluePurple: 320 69% 3%;
  --col-monoBlack: 195 67% 5%;
  --col-monoBlue:196, 68%, 25%;
  --col-monoWhite: 195, 67%, 95%;
  /* Font sizes */
  --fs-900: 5em;
  --fs-800: 3em;
  --fs-700: 2em;
  --fs-600: 1.5em;
  --fs-500: 1.25em;
  --fs-400: 1em;
  --fs-300: 0.9375em;
  --fs-200: 0.875em;
  --fs-100: 0.5em;
  /* Containers */
  --gap: 2rem;
  --flow-space: 1rem;
}

/* --------------------------- */
/* Reset                       */
/* --------------------------- */
html {
  /* Allows user to control font size in own browser */
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* https://piccalil.li/blog/a-modern-css-reset/ */
/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
}

html,
body {
  height: 100%;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  font-family: "Raleway", sans-serif;
  font-size: calc(1rem + 0.75vw);
  text-rendering: optimizeSpeed;
  color: hsl(0, 0%, 96%);
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.body-container {
  z-index: 0;
  background-image: url("/static/images/pexels-pixabay-461064.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.body-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(320, 14%, 25%, 0.7);
  backdrop-filter: blur(1px);
}

/* Fallback for browsers that don't support backdrop-filter */
@supports not (backdrop-filter: blur(10px)) {
  .body-container::before {
    background-color: hsla(320, 69%, 3%, 0.7);
  }
}
/* --------------------------- */
/* Utility classes             */
/* --------------------------- */
.box-1 {
  padding: 2rem 2rem 0;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.flex-jc-sa {
  justify-content: space-around;
}

.flex-jc-sb {
  justify-content: space-between;
}

.header {
  position: relative;
  width: 100%;
  padding: 1rem;
  border: 2px solid whitesmoke;
}

.header > * {
  position: relative;
}

.header-container {
  height: 2.5rem;
  border: 2px solid firebrick;
}

.header-logo {
  flex-direction: row;
  backdrop-filter: blur(2px);
}

.logo__image {
  width: 25%;
}

.logo__name {
  opacity: 0;
}

/*
.logo__image img,
.logo__name img {
    filter: hue-rotate(0deg) saturate(0.3);
}
*/
.logo__name img {
  color: hsl(Var(--col-nameBlue));
  width: 85%;
}

@media (min-width: 32rem) {
  .logo__image {
    width: 12%;
  }
  .logo__name {
    opacity: 1;
  }
  .logo__name img {
    width: 110%;
    padding: 0.5rem;
  }
}
.header-navigation > * {
  position: relative;
}

.header__hamburger {
  margin-top: auto;
  margin-bottom: auto;
  width: 2.25rem;
}

.header__hamburger img {
  filter: invert(0.6);
}

.header__hamburger:hover {
  filter: invert(0.75);
}

.header-links {
  opacity: 0;
  border: 1px solid peru;
}

.header-links a {
  color: hsl(var(--col-monoWhite));
  text-decoration: none;
}

@media (min-width: 64rem) {
  .header__hamburger {
    opacity: 0;
  }
  .header-links {
    opacity: 1;
  }
}