/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root {
    --clr-dark: 230 35% 7%;
    --clr-light: 231 77% 90%;
    --clr-white: 0 0% 100%;
    --clr-pink: 0 100% 66%;
    --clr-lilac: 278 94% 30%;
    --clr-purple: 278 68% 11%;
  
    /* font-sizes */
    --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
    --fs-800: 3.5rem;
    --fs-700: 1.5rem;
    --fs-600: 1rem;
    --fs-500: 1.75rem;
    --fs-400: 0.9375rem;
    --fs-300: 1rem;
    --fs-200: 0.875rem;
    
    /* font-families */
    --ff-serif: "Bellefair", serif;
    --ff-sans-cond: "Barlow Condensed", sans-serif;
    --ff-sans-normal: "Barlow", sans-serif;
  }
  
  @media (min-width: 35em) { /* Tablet */
    :root {
      /* font-sizes */
      --fs-800: 5rem;
      --fs-700: 2.5rem;
      --fs-600: 1.5rem;
      --fs-400: 1rem;
    }
  }
  
  @media (min-width: 45em) { /* Desktop */
    :root {
      /* font-sizes */
      --fs-800: 6.25rem;
      --fs-700: 3.5rem;
      --fs-600: 2rem;
      --fs-400: 1.125rem;
    }
  }
  
  /* ------------------- */
  /* Reset               */
  /* ------------------- */
  
  /* https://piccalil.li/blog/a-modern-css-reset/ */
  
  /* Box sizing */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  /* Reset margins */
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  p,
  figure,
  picture {
    margin: 0;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
      font-weight: 400;
  }
  
  /* set up the body */
  body {
    font-family: var(--ff-sans-normal);
    font-size: var(--fs-400);
    color: hsl( var(--clr-white) );
    background-color: hsl( var(--clr-dark) );
    line-height: 1.5;
    min-height: 100vh;
    display: grid;
    grid-template-rows: min-content 1fr;
    overflow-x: hidden;
  }
  
  /* make images easier to work with */
  img,
  picture {
    max-width: 100%;
    display: block;
  }
  
  /* make form elements easier to work with */
  input,
  button,
  textarea,
  select {
    font: inherit;
  }
  
  /* remove animations for people who've turned them off */
  @media (prefers-reduced-motion: reduce) {  
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }
  
  .grid {
      display: grid;
  }
  
  .container {
      padding-top: 15vh;
      background: linear-gradient(125deg, hsl(var( --clr-pink )), hsl(var( --clr-lilac )), hsl(var( --clr-purple )));
      text-align: center;
      place-items: center;
  }
  
  .button {
      border: none;
      border-radius: 25px;
      padding: 2px 10px 3px;
      background: hsl( var(--clr-white) );
      color: hsl( var(--clr-dark) );
  }
  